# {{ ansible_managed }}

[Unit]
Description=Health Check for Smuggler Instance {{ tun.name }}
Documentation=https://github.com/vayzur
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Type=oneshot
ExecStart=/opt/health-smuggler-{{ tun.name }}.sh {{ tun.client.health_check_proxy_type }}://{{ tun.client.health_check_proxy_addr }}:{{ tun.client.health_check_proxy_port }}
ExecStopPost=/bin/sh -c 'if [ "$EXIT_STATUS" != "0" ]; then systemctl restart smuggler@{{ tun.name }}.service; fi'
