# {{ ansible_managed }}

[Unit]
Description=Smuggler {{ tun.name }} service
Documentation=https://github.com/vayzur

After=network-online.target
Requires=network-online.target

StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Type=simple

CPUAccounting=no
MemoryAccounting=no
IOAccounting=no
IPAccounting=no
TasksAccounting=no

CPUQuota=
MemoryMax=

OOMScoreAdjust=-1000
WatchdogSec=0

LimitRTPRIO=99
LimitRTTIME=infinity
LimitCPU=infinity
LimitFSIZE=infinity
LimitDATA=infinity
LimitSTACK=infinity
LimitCORE=infinity
LimitRSS=infinity
LimitNOFILE=infinity
LimitAS=infinity
LimitNPROC=infinity
LimitMEMLOCK=infinity
LimitLOCKS=infinity
LimitSIGPENDING=infinity
LimitMSGQUEUE=infinity

TimeoutStartSec=3s
TimeoutStopSec=3s
Restart=always
RestartSec=1s

{% if tun.engine != "slipstream" %}
{% if dnstt_GOGC is defined %}Environment="GOGC={{ dnstt_GOGC }}"{% endif %}

{% if dnstt_GOMEMLIMIT is defined %}Environment="GOMEMLIMIT={{ dnstt_GOMEMLIMIT }}"{% endif %}
{% endif %}

{% if tun.engine == "slipstream" %}
ExecStart=/usr/local/bin/slipstream-client  --tcp-listen-host {{ tun.client.bind_addr }} --tcp-listen-port {{ tun.client.bind_port }} --resolver {{ tun.client.dns_resolver }} --domain {{ tun.domain }} --keep-alive-interval {{ tun.client.keep_alive_interval }}
{% elif tun.engine == "dnstt-revived" %}
ExecStart=/usr/local/bin/dnstt-revived-client -{{ tun.client.dns_mode }} {{ tun.client.dns_resolver }} -log-level {{ tun.client.loglevel }} -max-num-labels {{ tun.client.max_num_labels }} -max-qname-len {{ tun.client.max_qname_len }} -rps {{ tun.client.rps }} -udp-workers {{ tun.client.udp_workers }} -pubkey-file {{ keys_path }}/{{ dnstt_pubkey }} {{ tun.domain }} {{ tun.client.bind_addr }}:{{ tun.client.bind_port }}
{% else %}
ExecStart=/usr/local/bin/dnstt-client -{{ tun.client.dns_mode }} {{ tun.client.dns_resolver }} -pubkey-file {{ keys_path }}/{{ dnstt_pubkey }} {{ tun.domain }} {{ tun.client.bind_addr }}:{{ tun.client.bind_port }}
{% endif %}

[Install]
WantedBy=multi-user.target
