# {{ ansible_managed }}

[Unit]
Description=Smuggler {{ tun.name }} Service
Documentation=https://github.com/vayzur

After=network.target nss-lookup.target
Requires=network.target nss-lookup.target

StartLimitIntervalSec=10s
StartLimitBurst=100

[Service]
Type=simple

CPUAccounting=no
MemoryAccounting=no
IOAccounting=no
IPAccounting=no
TasksAccounting=no

CPUQuota=
MemoryMax=

CPUSchedulingPolicy=fifo
CPUSchedulingPriority=98
IOSchedulingClass=realtime
IOSchedulingPriority=0
OOMScoreAdjust=-1000

LimitRTPRIO=99
LimitRTTIME=infinity
LimitCPU=infinity
LimitFSIZE=infinity
LimitDATA=infinity
LimitSTACK=infinity
LimitCORE=infinity
LimitRSS=infinity
LimitNOFILE=infinity
LimitAS=infinity
LimitNPROC=infinity
LimitMEMLOCK=infinity
LimitLOCKS=infinity
LimitSIGPENDING=infinity
LimitMSGQUEUE=infinity

TimeoutStartSec=3s
TimeoutStopSec=3s
Restart=always
RestartSec=0ms
WatchdogSec=0

ExecStart=/usr/local/bin/dnstt-server -udp {{ tun.server.bind_addr }}:{{ tun.server.bind_port }} -mtu {{ tun.server.mtu }} -privkey-file {{ keys_path }}/{{ shared_privkey }} {{ tun.domain }} {{ tun.server.forward_addr }}:{{ tun.server.forward_port }}

[Install]
WantedBy=multi-user.target
