# {{ ansible_managed }}

[Unit]
Description=Smuggler {{ tun.name }} Service
Documentation=https://github.com/vayzur

After=network.target nss-lookup.target
Requires=network.target nss-lookup.target

StartLimitIntervalSec=10s
StartLimitBurst=100

[Service]
Type=simple

CPUAccounting=no
MemoryAccounting=no
IOAccounting=no
IPAccounting=no
TasksAccounting=no

CPUQuota=
MemoryMax=

CPUSchedulingPolicy=fifo
CPUSchedulingPriority=98
IOSchedulingClass=realtime
IOSchedulingPriority=0
OOMScoreAdjust=-1000

LimitRTPRIO=99
LimitRTTIME=infinity
LimitCPU=infinity
LimitFSIZE=infinity
LimitDATA=infinity
LimitSTACK=infinity
LimitCORE=infinity
LimitRSS=infinity
LimitNOFILE=infinity
LimitAS=infinity
LimitNPROC=infinity
LimitMEMLOCK=infinity
LimitLOCKS=infinity
LimitSIGPENDING=infinity
LimitMSGQUEUE=infinity

TimeoutStartSec=3s
TimeoutStopSec=3s
Restart=always
RestartSec=0ms
WatchdogSec=0

{% if tun.engine != "slipstream" %}
{% if dnstt_GOGC is defined %}Environment="GOGC={{ dnstt_GOGC }}"{% endif %}
{% if dnstt_GOMEMLIMIT is defined %}Environment="GOMEMLIMIT={{ dnstt_GOMEMLIMIT }}"{% endif %}
{% endif %}

{% if tun.engine == "slipstream" %}
ExecStart=/usr/local/bin/slipstream-server --dns-listen-port {{ tun.server.bind_port }} --target-address {{ tun.server.target_addr }}:{{ tun.server.target_port }} --domain {{ tun.domain }} --cert {{ keys_path }}/{{ slipstream_pubkey }} --key {{ keys_path }}/{{ slipstream_privkey }}
{% elif tun.engine == "dnstt-revived" %}
ExecStart=/usr/local/bin/dnstt-revived-server -udp {{ tun.server.bind_addr }}:{{ tun.server.bind_port }} -mtu {{ tun.server.mtu }} -log-level {{ tun.server.loglevel }} -privkey-file {{ keys_path }}/{{ dnstt_privkey }} {{ tun.domain }} {{ tun.server.target_addr }}:{{ tun.server.target_port }}
{% else %}
ExecStart=/usr/local/bin/dnstt-server -udp {{ tun.server.bind_addr }}:{{ tun.server.bind_port }} -mtu {{ tun.server.mtu }} -privkey-file {{ keys_path }}/{{ dnstt_privkey }} {{ tun.domain }} {{ tun.server.target_addr }}:{{ tun.server.target_port }}
{% endif %}

[Install]
WantedBy=multi-user.target
