# {{ ansible_managed }}

[Unit]
Description=Smuggler {{ tun.name }} service
Documentation=https://github.com/vayzur

After=network-online.target
Requires=network-online.target

StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Type=simple

CPUAccounting=no
MemoryAccounting=no
IOAccounting=no
IPAccounting=no
TasksAccounting=no

CPUQuota=
MemoryMax=

OOMScoreAdjust=-1000
WatchdogSec=0

LimitRTPRIO=99
LimitRTTIME=infinity
LimitCPU=infinity
LimitFSIZE=infinity
LimitDATA=infinity
LimitSTACK=infinity
LimitCORE=infinity
LimitRSS=infinity
LimitNOFILE=infinity
LimitAS=infinity
LimitNPROC=infinity
LimitMEMLOCK=infinity
LimitLOCKS=infinity
LimitSIGPENDING=infinity
LimitMSGQUEUE=infinity

TimeoutStartSec=3s
TimeoutStopSec=3s
Restart=always
RestartSec=1s

{% if tun.engine != "slipstream" %}
{% if dnstt_GOGC is defined %}Environment="GOGC={{ dnstt_GOGC }}"{% endif %} 
{% if dnstt_GOMEMLIMIT is defined %}Environment="GOMEMLIMIT={{ dnstt_GOMEMLIMIT }}"{% endif %} 
{% endif %}

{% if tun.engine == "slipstream" %}
ExecStart=/usr/local/bin/slipstream-server --dns-listen-host {{ tun.server.bind_addr | default(ansible_default_ipv4.address, true) }} --dns-listen-port {{ tun.server.bind_port | default(53, true) }} --target-address {{ tun.server.target_addr | default('127.0.0.1', true) }}:{{ tun.server.target_port | default(5201, true) }} --domain {{ tun.domain }} --cert {{ keys_path }}/{{ slipstream_pubkey }} --key {{ keys_path }}/{{ slipstream_privkey }} --max-connections {{ tun.server.max_connections | default(512, true) }} --idle-timeout-seconds {{ tun.server.idle_timeout_seconds | default(3, true) }} {{ tun.server.extra_cmdline | default(omit) }} 
{% else %}
ExecStart=/usr/local/bin/dnstt-server -udp {{ tun.server.bind_addr | default(ansible_default_ipv4.address, true) }}:{{ tun.server.bind_port | default(53, true) }} -mtu {{ tun.server.mtu | default(1232, true) }} -privkey-file {{ keys_path }}/{{ dnstt_privkey }} {{ tun.domain }} {{ tun.server.target_addr | default('127.0.0.1', true) }}:{{ tun.server.target_port | default('7000', true) }}
{% endif %}

[Install]
WantedBy=multi-user.target
