inventory/*
!inventory/group_vars
!inventory/sample.yml
inventory/group_vars/all/tunnels.yml
roles/server/files/dnstt*
roles/server/files/slipstream-server
roles/client/files/dnstt*
roles/client/files/slipstream-client
