[Unit]
Description=Smuggler SSH proxy for {{ item.0.name }}-{{ item.1.name }}
Documentation=https://github.com/vayzur
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Type=simple
OOMScoreAdjust=-1000

TimeoutStartSec=3
TimeoutStopSec=3
Restart=always
RestartSec=1

ExecStart=/usr/bin/ssh -T -N -D {{ item.0.server.target_addr }}:{{ item.0.server.target_port }} -o NoHostAuthenticationForLocalhost=yes {{ item.1.remote_host | default('127.0.0.1', true) }} -p {{ item.1.remote_port | default(22, true) }} -i {{ ansible_user_dir }}/.ssh/{{ ssh_privkey }}

[Install]
WantedBy=multi-user.target
