-- {{ ansible_managed }}

setACL({
{%- for acl in dnsdist_acl | default(['0.0.0.0/0', '::/0']) %}
'{{ acl }}'{% if not loop.last %},{% endif %}
{%- endfor %}
})

{% for server in dnsdist_upstream_servers | default([]) %}
newServer({
    address="{{ server.address }}",
    order={{ server.order | default(1, true) }},
    weight={{ server.order | default(1, true) }},
    checkInterval={{ server.check_interval | default(2, true) }},
    checkTimeout={{ server.check_timeout | default(1000, true) }},
    checkType="{{ server.check_type | default('TXT', true) }}",
    maxCheckFailures={{ server.max_check_failures | default(1, true) }},
    mustResolve={{ server.must_resolve | default(true) | bool | lower }},
    useClientSubnet={{ server.use_client_subnet | default(false) | bool | lower }},
    tcpOnly={{ server.tcp_only | default(false) | bool | lower }},
    checkTCP={{ server.check_tcp | default(false) | bool | lower }},
    dscp={{ server.dscp | default(0) }},
    reconnectOnUp={{ server.reconnect_on_up | default(false) | bool | lower }},
    rise={{ server.rise | default(1, true) }}
})
{% endfor %}

{% for tun in smuggler_tunnels %}
newServer({address="{{ tun.server.bind_addr }}:{{ tun.server.bind_port }}", pool="{{ tun.domain }}"})
{% endfor %}

{% for domain in smuggler_tunnels | map(attribute='domain') | unique %}
addAction(makeRule("{{ domain }}"), PoolAction("{{ domain }}"))
{% endfor %}

{% set action = dnsdist_default_action | default('drop') %}

{% if action == "drop" %}
addAction(AllRule(), DropAction())
{% elif action == "refuse" %}
addAction(AllRule(), RCodeAction(DNSRCode.REFUSED))
{% elif action == "forward" %}
addAction(AllRule(), PoolAction("default"))
{% else %}
addAction(AllRule(), DropAction())
{% endif %}

setLocal("{{ dnsdist_bind_addr | default('0.0.0.0', true) }}:{{ dnsdist_bind_port | default(53, true) }}")

setServerPolicy({{ dnsdist_server_policy | default('chashed', true) }})

setUDPTimeout({{ dnsdist_udp_timeout | default(2, true) }})
setMaxUDPOutstanding({{ dnsdist_max_udp_outstanding | default(65535, true) }})
setTCPRecvTimeout({{ dnsdist_tcp_recv_timeout | default(2, true) }})
setTCPSendTimeout({{ dnsdist_tcp_send_timeout | default(2, true) }})

{% if dnsdist_metrics | default(false) %}
webserver("{{ dnsdist_metrics_bind_addr | default('127.0.0.1', true) }}:{{ dnsdist_metrics_bind_port | default(8083) }}")
setWebserverConfig({
  password="{{ dnsdist_metrics_password | default('admin', true) }}",
  apiKey="{{ dnsdist_metrics_api_key | default('') }}",
  statsRequireAuthentication={{ dnsdist_metrics_require_auth | default(false) | bool | lower }},
  acl="{%- for acl in dnsdist_metrics_acl | default(['127.0.0.0/8', '::1/128']) %}{{ acl }}{% if not loop.last %}, {% endif %}{%- endfor %}"
})
{% endif %}
