#!/usr/sbin/nft -f
# vim: set tabstop=4 shiftwidth=4 expandtab:

table ip smuggler_lb {
    set lb_ports {
        type inet_service
        flags interval
        auto-merge
        elements = { {{ lb_ports | join(', ') }} }
    }

    map lb_backends {
        typeof meta mark : ip daddr . tcp dport
        flags dynamic
        elements = { {% for tun in smuggler_tunnels %}{% if tun.client.lb.enabled | default(false) %}{{ loop.index0 }} : {{ tun.client.bind_addr if tun.client.bind_addr != '0.0.0.0' else '127.0.0.1' }} . {{ tun.client.bind_port }}{% if not loop.last %},{% endif %}{% endif %}{% endfor %} }
    }

    chain prerouting {
        type nat hook prerouting priority dstnat; policy accept;

{% if lb_policy == 'hash' %}
        tcp dport @lb_ports meta mark set jhash ip saddr . tcp sport mod {{ smuggler_tunnels_length }} dnat to meta mark map @lb_backends
{% elif lb_policy == 'random' %}
        tcp dport @lb_ports meta mark set numgen random mod {{ smuggler_tunnels_length }} dnat to meta mark map @lb_backends
{% else %}
        tcp dport @lb_ports meta mark set numgen inc mod {{ smuggler_tunnels_length }} dnat to meta mark map @lb_backends
{% endif %}

    }

    chain postrouting {
        type nat hook postrouting priority srcnat; policy accept;
        oifname != "lo" iifname "lo" snat to {{ ansible_default_ipv4.address }}
    }

}
