[Unit]
Description=Smuggler load balancing service
After=network.target nss-lookup.target

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStartPre=/bin/bash -c 'nft list table ip smuggler_lb >/dev/null 2>&1 && nft flush table ip smuggler_lb && nft delete table ip smuggler_lb || true'
ExecStart=/usr/sbin/nft -f /etc/nftables.d/lb-smuggler.conf
ExecStop=/bin/bash -c 'nft list table ip smuggler_lb >/dev/null 2>&1 && nft flush table ip smuggler_lb || true'
ExecStopPost=/bin/bash -c 'nft list table ip smuggler_lb >/dev/null 2>&1 && nft delete table ip smuggler_lb || true'

[Install]
WantedBy=multi-user.target
