[Unit]
Description=Configure DNSTT ratelimit
Documentation=https://github.com/vayzur
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /opt/dnstt-ratelimit.sh

[Install]
WantedBy=multi-user.target
